body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 35px;
  padding: 8px;
  
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px;
  
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 2px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
}